body
  font-family: 'Cabin', sans-serif
  
#searchResults
    display flex
    flex-wrap wrap
    justify-content space-around

.songcard
    margin: 10px;
    flex-basis: 20%;
    width: 380px;
    height: auto;
    justify-content: center
    border: 1px solid #eee
    .songcard-body
        padding 10px
.audio
    width 200px
    margin 10px auto
img
  width 200px
  height 200px
  margin 10px 10px