html
head
    title iTunes API Search App
    link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.min.css', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Cabin:300', rel='stylesheet')
body
    .container
      header
        h1.text-center.display-4.my-5 Search Music
        
      section.my-5
        form#searchForm          
          .md-form
            input#searchInput.form-control(type='text', name='search', value='', placeholder='Enter your search name here')       
          .text-center
            button.btn.btn-indigo(type='submit', name='button')
              | Search 
              i.fa.fa-search.ml-1
     
        hr
      h3#results 
      section#searchResults
    script(type='text/javascript' src='js/main.js')
        